:root {
    --p-text: rgb(163, 165, 165);
    --main-text: rgb(253, 252, 253);
    --services-text: rgb(255, 153, 0);
    --brandblacktext: rgba(26, 26, 26, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #2c2b2c;
    text-decoration: none;

}

.mobilehomepage {
    background-color: #2c2b2c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mobilehomepage .div {
    /* border: 1px solid #dedcdc; */
    background-color: #2c2b2b;
    width: 100%;
    height: 4460px;
    position: relative;
}

.mobilehomepage .overlap {
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    left: 0;
}

.mobilehomepage .newlogo-navbar {
    position: absolute;
    width: 520px;
    height: 58px;
    top: 0;
    left: 0;
    background-color: var(--brandblacktext);
}

.mobilehomepage .vector {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 23.1rem;
}

.mobilehomepage .group {
    position: absolute;
    width: 209px;
    height: 46px;
    top: 6px;
    left: 28px;
}

.mobilehomepage .overlap-wrapper {
    position: relative;
    min-width: 213px;
    height: 46px;
    left: -12px;
}

.mobilehomepage .overlap-group {
    position: relative;
    width: 211px;
    height: 46px;
}

.mobilehomepage .overlap-group-2 {
    position: absolute;
    width: 208px;
    height: 46px;
    top: 4px;
    left: 0;
}

.mobilehomepage .text-wrapper {
    top: 0;
    -webkit-text-stroke: 0.99px #3f3f3fcf;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 00;
    color: #c8f0c0;
    font-size: 30.6px;
    text-align: right;
    position: absolute;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .text-wrapper-2 {
    position: absolute;
    top: 31px;
    left: 118px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 5.8px;
    letter-spacing: 0;
    line-height: 6.8px;
    white-space: nowrap;
}

.mobilehomepage .img {
    position: absolute;
    width: 20px;
    height: 18px;
    top: 14.5px;
    left: 174px;
    background-color: transparent;
}

.mobilehomepage .mobile-social {
    position: absolute;
    width: 90px;
    height: 13px;
    top: 37px;
    left: 21.5rem;
    display: flex;
    justify-content: space-between;
}

.mobilehomepage .microsoft {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 62px;
}

.mobilehomepage .github {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 40px;
}

.mobilehomepage .linkedin {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 21px;
}

.mobilehomepage .text-wrapper-3 {
    position: absolute;
    width: 39px;
    top: 8px;
    left: -18px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #dddddd;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .rectangle {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 20px;
    left: 24.5rem;
    background-color: #de4013;
}

.mobilehomepage .renamewhenused {
    position: absolute;
    min-width: 400px;
    height: 396px;
    top: 142px;
    left: 24px;
}

.mobilehomepage .mobile-load-of {
    position: absolute;
    width: 169px;
    height: 34px;
    top: 0;
    left: 0;
    width: 94%;
}

.mobilehomepage .text-wrapper-4 {
    top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 500;
    color: #f56f0f;
    font-size: 32px;
    position: absolute;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .overlap-2 {
    position: absolute;
    width: 400px;
    height: 286px;
    top: 50px;
    left: 0;
}

.mobilehomepage .mobile-web {
    position: absolute;
    width: 400px;
    height: 101px;
    top: 0;
    left: 0;
}

.mobilehomepage .web-development-UX {
    width: 400px;
    font-size: 35px;
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--main-text);
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .mobile-paragraph {
    position: absolute;
    width: 400px;
    height: 198px;
    top: 88px;
    left: 0;
}

.mobilehomepage .i-specialize-in {
    position: absolute;
    top: -12px;
    left: 0;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .proficient-in {
    position: absolute;
    top: 60px;
    left: 0;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .mobile-button {
    display: flex;
    min-width: 90px;
    height: 22px;
    align-items: center;
    justify-content: center;
    gap: 9.18px;
    padding: 9.18px 11.47px;
    position: absolute;
    top: 340px;
    left: 15rem;
    border-radius: 3.44px;
    border: 1.15px solid;
    border-color: #ffffff;
}

.mobilehomepage .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.47px;
    margin-left: -0.28px;
    margin-right: -0.28px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #fcfdfd;
    font-size: 13.8px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .renamewhenused-2 {
    position: absolute;
    width: 400px;
    height: 784px;
    top: 600px;
    left: 24px;
}

.mobilehomepage .load-of-pixels-wrapper {
    width: 400px;
    top: 265px;
    left: 0;
    position: absolute;
    height: 67px;
}

.mobilehomepage .load-of-pixels {
    font-size: 25px;
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f56f0f;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .overlap-3 {
    position: absolute;
    width: 400px;
    height: 170px;
    top: 348px;
    left: 9px;
}

.mobilehomepage .web-development-UX-wrapper {
    width: 400px;
    height: 95px;
    position: absolute;
    top: 0;
    left: 2px;
}

.mobilehomepage .web-development-UX-2 {
    font-size: 33.3px;
    position: absolute;
    top: -42px;
    left: -11px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--main-text);
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .p {
    position: absolute;
    top: 29px;
    left: -9px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .div-wrapper {
    display: flex;
    width: 90px;
    height: 22px;
    align-items: center;
    justify-content: center;
    gap: 9.18px;
    padding: 8.66px 10.83px;
    position: absolute;
    top: 700px;
    left: 13rem;
    border-radius: 3.25px;
    border: 1.08px solid;
    border-color: #ffffff;

}

.mobilehomepage .text-wrapper-6 {
    margin-top: -1.42px;
    margin-left: -0.05px;
    margin-right: -0.05px;
    font-size: 13px;
    position: relative;
    width: fit-content;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #fcfdfd;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .rectangle-2 {
    position: absolute;
    min-width: 100%;
    height: 249px;
    top: 0;
    left: -7px;
    object-fit: cover;
}

.mobilehomepage .proficient-in-2 {
    position: absolute;
    top: 467px;
    left: 0px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 16.2px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .popular-services {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    position: absolute;
    top: 1436px;
    left: 71px;
}

.mobilehomepage .popular-services-2 {
    position: relative;
    display: flex;
    width: 94%;
    height: 44px;
    top: 40px;
    left: 16px;
}

.mobilehomepage .services-image-text {
    position: relative;
    width: 294.48px;
    height: 811.71px;
}

.mobilehomepage .web-development-UX-3 {
    position: absolute;
    top: -52px;
    left: -11px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--main-text);
    font-size: 33.3px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .cloud-services {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.mobilehomepage .rectangle-3 {
    position: relative;
    width: 294.48px;
    height: 248.57px;
    object-fit: cover;
}

.mobilehomepage .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 147px;
    left: 14px;
}

.mobilehomepage .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .IT-management {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 282px;
    left: 0;
}

.mobilehomepage .AI-assisitant {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 563px;
    left: 0;
}

.mobilehomepage .mobile-button-wrapper {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.mobilehomepage .get-in-touch-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 3px;
    border: 1px solid;
    border-color: #ffffff;
}

.mobilehomepage .get-in-touch {
    margin-top: -1px;
    font-size: 12px;
    position: relative;
    width: fit-content;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #fcfdfd;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .renamewhenused-UX {
    position: absolute;
    width: 400px;
    height: 776px;
    top: 2460px;
    left: 24px;
}

.mobilehomepage .overlap-4 {
    position: absolute;
    width: 400px;
    height: 514px;
    top: 262px;
    left: 0px;
}

.mobilehomepage .mobile-button-2 {
    display: flex;
    min-width: 90px;
    height: 22px;
    align-items: center;
    justify-content: center;
    gap: 8.59px;
    padding: 8.59px 10.74px;
    position: absolute;
    top: 435px;
    left: 13rem;
    border-radius: 3.22px;
    border: 1.07px solid;
    border-color: #ffffff;
}

.mobilehomepage .text-wrapper-9 {
    margin-top: -1.48px;
    margin-left: -0.39px;
    margin-right: -0.39px;
    font-size: 12.9px;
    position: relative;
    width: fit-content;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #fcfdfd;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .group-2 {
    position: absolute;
    width: 400px;
    height: 499px;
    top: 0;
    left: 0;
}

.mobilehomepage .mobile-load-of-2 {
    width: 400px;
    top: 0;
    left: -9px;
    position: absolute;
    height: 67px;
}

.mobilehomepage .load-of-pixels-2 {
    width: 400px;
    font-size: 25px;
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f56f0f;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .overlap-5 {
    position: absolute;
    width: 400px;
    height: 418px;
    top: 82px;
    left: 0;
}

.mobilehomepage .mobile-web-2 {
    width: 400px;
    height: 94px;
    position: absolute;
    top: 0;
    left: 2px;
}

.mobilehomepage .overlap-group-wrapper {
    position: absolute;
    width: 400px;
    height: 335px;
    top: 83px;
    left: 0;
}

.mobilehomepage .overlap-group-3 {
    position: relative;
    width: 400px;
    height: 335px;
}

.mobilehomepage .at-the-core-of-our {
    position: absolute;
    top: 59px;
    left: -9px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .our-approach-to-web {
    position: absolute;
    top: -27px;
    left: -9px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .rectangle-4 {
    position: absolute;
    width: 400px;
    height: 246px;
    top: 0;
    left: -8px;
    object-fit: cover;
}

.mobilehomepage .renamewhenused-3 {
    position: absolute;
    width: 400px;
    height: 483px;
    top: 3314px;
    left: 18px;
}

.mobilehomepage .text-wrapper-10 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--main-text);
    font-size: 33.6px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .we-use-figma-to {
    position: absolute;
    width: 400px;
    top: 50px;
    left: 0;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 18.6px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .text-wrapper-11 {
    position: absolute;
    top: 397px;
    left: 152px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--services-text);
    font-size: 18.6px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.mobilehomepage .servicesabouthelp {
    position: absolute;
    width: 177px;
    height: 440px;
    top: 3826px;
    left: 18px;
}

.mobilehomepage .flexcontainer {
    height: 121px;
    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    position: absolute;
    width: 177px;
    left: 0;
}

.mobilehomepage .text-i {
    position: relative;
    align-self: stretch;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.mobilehomepage .span {
    font-weight: 700;
}

.mobilehomepage .text-wrapper-12 {
    font-family: "Open Sans-Regular", Helvetica;
    color: rgb(203, 195, 195);
}

.mobilehomepage .flexcontainer-i {
    height: 122px;
    text-decoration: none;
    top: 182px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    position: absolute;
    width: 177px;
    left: 0;
}

.mobilehomepage .flexcontainer-2 {
    height: 72px;
    top: 367px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    position: absolute;
    width: 177px;
    left: 0;
}

.mobilehomepage .copyright-load-of {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 217px;
    height: 25px;
    top: 4432px;
    left: 12px;
}

.mobilehomepage .text-wrapper-13 {
    position: absolute;
    width: 217px;
    top: -1px;
    left: 105px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--main-text);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}


/* screen sizes bigger than 425px*/
@media (min-width: 620px) {
    body {
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        background-color: #1f1e1e;
        text-decoration: none;

    }

    .mobilehomepage {
        background-color: #2c2b2c;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 620px;
    }

    .mobilehomepage .div {
        /* border: 1px solid #dedcdc; */
        background-color: #32263c;
        width: 620px;
        height: 4460px;
        position: relative;
    }

    .mobilehomepage .overlap {
        position: absolute;
        width: 100%;
        height: 58px;
        top: 0;
        left: 0;
    }

    .mobilehomepage .newlogo-navbar {
        position: absolute;
        width: 100%;
        height: 58px;
        top: 0;
        left: 0;
        background-color: var(--brandblacktext);
    }

    .mobilehomepage .vector {
        position: absolute;
        width: 20px;
        height: 14px;
        top: 5px;
        left: 18.5rem;
    }

    .mobilehomepage .group {
        position: absolute;
        width: 209px;
        height: 46px;
        top: 6px;
        left: 28px;
    }

    .mobilehomepage .overlap-wrapper {
        position: relative;
        min-width: 213px;
        height: 46px;
        left: -12px;
    }

    .mobilehomepage .overlap-group {
        position: relative;
        width: 211px;
        height: 46px;
    }

    .mobilehomepage .overlap-group-2 {
        position: absolute;
        width: 208px;
        height: 46px;
        top: 4px;
        left: 0;
    }

    .mobilehomepage .text-wrapper {
        top: 0;
        -webkit-text-stroke: 0.99px #3f3f3fcf;
        font-family: "Poppins-Regular", Helvetica;
        font-weight: 00;
        color: #c8f0c0;
        font-size: 30.6px;
        text-align: right;
        position: absolute;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .text-wrapper-2 {
        position: absolute;
        top: 31px;
        left: 118px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 5.8px;
        letter-spacing: 0;
        line-height: 6.8px;
        white-space: nowrap;
    }

    .mobilehomepage .img {
        position: absolute;
        width: 20px;
        height: 18px;
        top: 14.5px;
        left: 174px;
        background-color: transparent;
    }

    .mobilehomepage .mobile-social {
        position: absolute;
        width: 90px;
        height: 13px;
        top: 12px;
        left: 23.8rem;
        display: flex;
        justify-content: space-between;
    }

    .mobilehomepage .microsoft {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 68px;
    }

    .mobilehomepage .github {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 54px;
    }

    .mobilehomepage .text-wrapper-3 {
        position: absolute;
        width: 39px;
        top: 0;
        left: 0;
        font-family: "Poppins-Medium", Helvetica;
        font-weight: 500;
        color: #dddddd;
        font-size: 8px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .linkedin {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 40px;
    }

    .mobilehomepage .rectangle {
        position: absolute;
        width: 20px;
        height: 2px;
        top: 17px;
        left: 29rem;
        background-color: #de4013;
    }

    .mobilehomepage .renamewhenused {
        position: absolute;
        min-width: 400px;
        height: 396px;
        top: 142px;
        left: 24px;
    }

    .mobilehomepage .mobile-load-of {
        position: absolute;
        width: 169px;
        height: 34px;
        top: 0;
        left: 0;
        width: 94%;
    }

    .mobilehomepage .text-wrapper-4 {
        top: -1px;
        font-family: "Poppins-SemiBold", Helvetica;
        font-weight: 400;
        color: #f56f0f;
        font-size: 30px;
        position: absolute;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .overlap-2 {
        position: absolute;
        width: 400px;
        height: 286px;
        top: 50px;
        left: 0;
    }

    .mobilehomepage .mobile-web {
        position: absolute;
        width: 400px;
        height: 101px;
        top: 0;
        left: 0;
    }

    .mobilehomepage .web-development-UX {
        width: 400px;
        font-size: 35px;
        position: absolute;
        top: -1px;
        left: 0;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--main-text);
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .mobile-paragraph {
        position: absolute;
        width: 400px;
        height: 198px;
        top: 88px;
        left: 0;
    }

    .mobilehomepage .i-specialize-in {
        position: absolute;
        top: -12px;
        left: 0;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 19px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .proficient-in {
        position: absolute;
        top: 60px;
        left: 0;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 19px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .mobile-button {
        display: flex;
        min-width: 90px;
        height: 22px;
        align-items: center;
        justify-content: center;
        gap: 9.18px;
        padding: 9.18px 11.47px;
        position: absolute;
        top: 340px;
        left: 13rem;
        border-radius: 3.44px;
        border: 1.15px solid;
        border-color: #ffffff;
    }

    .mobilehomepage .text-wrapper-5 {
        position: relative;
        width: fit-content;
        margin-top: -1.47px;
        margin-left: -0.28px;
        margin-right: -0.28px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #fcfdfd;
        font-size: 13.8px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .renamewhenused-2 {
        position: absolute;
        width: 400px;
        height: 784px;
        top: 600px;
        left: 24px;
    }

    .mobilehomepage .load-of-pixels-wrapper {
        width: 400px;
        top: 265px;
        left: 0;
        position: absolute;
        height: 67px;
    }

    .mobilehomepage .load-of-pixels {
        font-size: 25px;
        position: absolute;
        top: -1px;
        left: 0;
        font-family: "Poppins-SemiBold", Helvetica;
        font-weight: 600;
        color: #f56f0f;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .overlap-3 {
        position: absolute;
        width: 400px;
        height: 170px;
        top: 348px;
        left: 9px;
    }

    .mobilehomepage .web-development-UX-wrapper {
        width: 400px;
        height: 95px;
        position: absolute;
        top: 0;
        left: 2px;
    }

    .mobilehomepage .web-development-UX-2 {
        font-size: 33.3px;
        position: absolute;
        top: -42px;
        left: -11px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--main-text);
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .p {
        position: absolute;
        top: 29px;
        left: -9px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 19px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .div-wrapper {
        display: flex;
        width: 90px;
        height: 22px;
        align-items: center;
        justify-content: center;
        gap: 9.18px;
        padding: 8.66px 10.83px;
        position: absolute;
        top: 700px;
        left: 13rem;
        border-radius: 3.25px;
        border: 1.08px solid;
        border-color: #ffffff;

    }

    .mobilehomepage .text-wrapper-6 {
        margin-top: -1.42px;
        margin-left: -0.05px;
        margin-right: -0.05px;
        font-size: 13px;
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #fcfdfd;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .rectangle-2 {
        position: absolute;
        min-width: 100%;
        height: 249px;
        top: 0;
        left: -7px;
        object-fit: cover;
    }

    .mobilehomepage .proficient-in-2 {
        position: absolute;
        top: 467px;
        left: 0px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 16.2px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .popular-services {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 33px;
        position: absolute;
        top: 1436px;
        left: 71px;
    }

    .mobilehomepage .popular-services-2 {
        position: relative;
        display: flex;
        width: 94%;
        height: 44px;
        top: 40px;
        left: 16px;
    }

    .mobilehomepage .services-image-text {
        position: relative;
        width: 294.48px;
        height: 811.71px;
    }

    .mobilehomepage .web-development-UX-3 {
        position: absolute;
        top: -52px;
        left: -11px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: var(--main-text);
        font-size: 33.3px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .cloud-services {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mobilehomepage .rectangle-3 {
        position: relative;
        width: 294.48px;
        height: 248.57px;
        object-fit: cover;
    }

    .mobilehomepage .frame {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        position: absolute;
        top: 147px;
        left: 14px;
    }

    .mobilehomepage .text-wrapper-7 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 15px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .text-wrapper-8 {
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .IT-management {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 282px;
        left: 0;
    }

    .mobilehomepage .AI-assisitant {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 563px;
        left: 0;
    }

    .mobilehomepage .mobile-button-wrapper {
        display: inline-flex;
        align-items: flex-start;
        position: relative;
        flex: 0 0 auto;
    }

    .mobilehomepage .get-in-touch-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 10px;
        position: relative;
        flex: 0 0 auto;
        border-radius: 3px;
        border: 1px solid;
        border-color: #ffffff;
    }

    .mobilehomepage .get-in-touch {
        margin-top: -1px;
        font-size: 12px;
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #fcfdfd;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .renamewhenused-UX {
        position: absolute;
        width: 400px;
        height: 776px;
        top: 2460px;
        left: 24px;
    }

    .mobilehomepage .overlap-4 {
        position: absolute;
        width: 400px;
        height: 514px;
        top: 262px;
        left: 0px;
    }

    .mobilehomepage .mobile-button-2 {
        display: flex;
        min-width: 90px;
        height: 22px;
        align-items: center;
        justify-content: center;
        gap: 8.59px;
        padding: 8.59px 10.74px;
        position: absolute;
        top: 435px;
        left: 13rem;
        border-radius: 3.22px;
        border: 1.07px solid;
        border-color: #ffffff;
    }

    .mobilehomepage .text-wrapper-9 {
        margin-top: -1.48px;
        margin-left: -0.39px;
        margin-right: -0.39px;
        font-size: 12.9px;
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #fcfdfd;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .group-2 {
        position: absolute;
        width: 400px;
        height: 499px;
        top: 0;
        left: 0;
    }

    .mobilehomepage .mobile-load-of-2 {
        width: 400px;
        top: 0;
        left: -9px;
        position: absolute;
        height: 67px;
    }

    .mobilehomepage .load-of-pixels-2 {
        width: 400px;
        font-size: 25px;
        position: absolute;
        top: -1px;
        left: 0;
        font-family: "Poppins-SemiBold", Helvetica;
        font-weight: 600;
        color: #f56f0f;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .overlap-5 {
        position: absolute;
        width: 400px;
        height: 418px;
        top: 82px;
        left: 0;
    }

    .mobilehomepage .mobile-web-2 {
        width: 400px;
        height: 94px;
        position: absolute;
        top: 0;
        left: 2px;
    }

    .mobilehomepage .overlap-group-wrapper {
        position: absolute;
        width: 400px;
        height: 335px;
        top: 83px;
        left: 0;
    }

    .mobilehomepage .overlap-group-3 {
        position: relative;
        width: 400px;
        height: 335px;
    }

    .mobilehomepage .at-the-core-of-our {
        position: absolute;
        top: 59px;
        left: -9px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 19px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .our-approach-to-web {
        position: absolute;
        top: -27px;
        left: -9px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .rectangle-4 {
        position: absolute;
        width: 400px;
        height: 246px;
        top: 0;
        left: -8px;
        object-fit: cover;
    }

    .mobilehomepage .renamewhenused-3 {
        position: absolute;
        width: 400px;
        height: 483px;
        top: 3314px;
        left: 18px;
    }

    .mobilehomepage .text-wrapper-10 {
        position: absolute;
        top: -1px;
        left: 0;
        font-family: "Poppins-Bold", Helvetica;
        font-weight: 700;
        color: var(--main-text);
        font-size: 33.6px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .we-use-figma-to {
        position: absolute;
        width: 400px;
        top: 50px;
        left: 0;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 18.6px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .text-wrapper-11 {
        position: absolute;
        top: 397px;
        left: 152px;
        font-family: "Inter-SemiBold", Helvetica;
        font-weight: 600;
        color: var(--services-text);
        font-size: 18.6px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .mobilehomepage .servicesabouthelp {
        position: absolute;
        width: 177px;
        height: 440px;
        top: 3826px;
        left: 18px;
    }

    .mobilehomepage .flexcontainer {
        height: 121px;
        top: -1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        position: absolute;
        width: 177px;
        left: 0;
    }

    .mobilehomepage .text-i {
        position: relative;
        align-self: stretch;
        font-family: "Open Sans-Bold", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .mobilehomepage .span {
        font-weight: 700;
    }

    .mobilehomepage .text-wrapper-12 {
        font-family: "Open Sans-Regular", Helvetica;
        color: rgb(203, 195, 195);
    }

    .mobilehomepage .flexcontainer-i {
        height: 122px;
        text-decoration: none;
        top: 182px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        position: absolute;
        width: 177px;
        left: 0;
    }

    .mobilehomepage .flexcontainer-2 {
        height: 72px;
        top: 367px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        position: absolute;
        width: 177px;
        left: 0;
    }

    .mobilehomepage .copyright-load-of {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 217px;
        height: 25px;
        top: 4432px;
        left: 12px;
    }

    .mobilehomepage .text-wrapper-13 {
        position: absolute;
        width: 217px;
        top: -1px;
        left: 105px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: var(--main-text);
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }
}